<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="DataSource" class="org.apache.tomcat.jdbc.pool.DataSource" destroy-method="close" autowire="no">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="testWhileIdle" value="true"/>
        <property name="testOnBorrow" value="true"/>
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="600"/>
        <property name="validationQuery" value="select 1"/>

        <property name="initialSize" value="10"/>
        <property name="maxActive" value="50"/>
        <property name="maxWait" value="100"/>
        <property name="maxIdle" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="url" value="${mysql.url}"/>
        <property name="username" value="${mysql.username}"/>
        <property name="password" value="${mysql.password}"/>
    </bean>
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!-- spring和MyBatis整合，不需要mybatis的配置映射文件 -->
    <bean id="DataSource_sessionFactor" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="DataSource"/>
        <!-- 自动扫描mapping.xml文件 -->
        <property name="mapperLocations"
                  value="classpath:mapping/*.xml"></property>
    </bean>

    <!-- DAO接口所在包名，Spring会自动查找其下的类 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.carryit.base.fam.dao"/>
        <property name="sqlSessionFactoryBeanName" value="DataSource_sessionFactor"></property>
    </bean>

</beans>